main {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden; /* Hide scrollbars */

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

section {
  margin-top: 30vh;
}
